<!DOCTYPE html>
<html class="ui-mobile-rendering">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="css/jquery.mobile-1.4.5.min.css"/>
		<link rel="stylesheet" href="css/themes/books.min.css"/>
		<link rel="stylesheet" href="css/themes/jquery.mobile.icons.min.css"/>
	</head>
	<body>
		<header data-role="header" data-position="fixed">
			<h1>Books</h1>
		</header>
		<ul data-role="listview" data-icon="false">
		</ul>
		<script type="text/template" id="book-template">
			<h2><%= title %></h2>
			<p>by <%= author %></p>
			<p>ISBN <%= isbn %></p>
		</script>
		<script src="lib/jquery-2.2.2.min.js"></script>
		<script src="lib/jquery.mobile-1.4.5.min.js"></script>
		<script src="lib/underscore-min.js"></script>
		<script src="lib/backbone-min.js"></script>
		<script src="js/main.js"></script>
	</body>
</html>