<!DOCTYPE html>
<html class="ui-mobile-rendering">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="css/jquery.mobile-1.4.5.min.css"/>
		<link rel="stylesheet" href="css/themes/books.min.css"/>
		<link rel="stylesheet" href="css/themes/jquery.mobile.icons.min.css"/>
		<link rel="stylesheet" href="css/style.css"/>
	</head>
	<body>
		<script type="text/template" id="book-template">
			<a><h2><%= title %></h2>
			<p>by <%= author %><br/>
			ISBN <%= isbn %></p></a>
		</script>
		<script type="text/template" id="list-view">
			<header data-role="header" data-position="fixed">
				<h1>Books</h1>
				<a class="ui-btn-right" id="add" href="#add">Add</a>
			</header>
			<ul data-role="listview" data-icon="false">
			</ul>
		</script>
		<script type="text/template" id="add-view">
			<header data-role="header" data-position="fixed">
				<a class="ui-btn-left" id="cancel" href="">Cancel</a>
				<h1>New Book</h1>
				<a class="ui-btn-right" id="add" href="">Add</a>
			</header>
			<form>
				<input type="text" name="title" id="title" placeholder="Title">
				<input type="text" name="author" id="author" placeholder="Author">
				<input type="text" name="isbn" id="isbn" placeholder="ISBN">
				<input type="submit" id="submit" value="Save">
			</form>
		</script>
		<div id="container"></div>
		<script src="lib/jquery-2.2.2.min.js"></script>
		<script src="lib/jqm-config.js"></script>
		<script src="lib/jquery.mobile-1.4.5.min.js"></script>
		<script src="lib/underscore-min.js"></script>
		<script src="lib/backbone-min.js"></script>
		<script src="lib/backbone.localStorage.js"></script>
		<script src="js/main.js"></script>
	</body>
</html>
